*{
    margin: 0;
    padding: 0;
}
body{
    background: #0091AD;
    text-align: center;
}
#heading{
    padding-top: 10px;
    color: #ffffff ;
    font-size: 3rem;
    font-style: italic;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}
.container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    background: #BC8034;
    color: #5E0B15;
    font-size: 3rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.reset{
    padding: 1rem;
    border-radius: 1rem;
    background: #000;
    color: aqua;
    font-size: 1rem;
    margin-top: 10px;
    border: 1px solid white;
}
